scikit-learn
pickleshare
ninja==1.10.2.3
gdown
easydict
PyYAML
protobuf==3.19.4
tensorboard==2.8.0
termcolor
tqdm==4.62.3
multimethod
h5py==3.6.0
matplotlib==3.5.1
wandb
pyvista
setuptools==59.5.0
Cython==0.29.28
pandas
torch==2.0.0
deepspeed
shortuuid

# for docs
mkdocs-material
mkdocs-awesome-pages-plugin
mdx_truly_sane_lists
